body {
    padding:0;
    margin:0;
    height:100vh;
    width:100vw;
    box-sizing :border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div{
    height:90vh;
    width:50vw;
    background-color: rgb(30, 217, 250);
    border:1px solid cadetblue;
    border-radius: 50%;
    display:flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    color:rgb(50, 10, 230);

}

button{
    width:10vw;
    height:5vh;
    background-color: cadetblue;
    color:white;
    font-size: 2vw;

}

h1{
    font-size: 2vw;
}